.heading {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 0px 5px 20px;
}

.topBtn {
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#loginTop {
    margin-left: 25px;
    margin-bottom: 10px;
}

.topBtn:hover {
    background-color: aliceblue;
}

.line {
    height: 2px;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.personal {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
    color: darkslategrey;
    font-family: 'Courier New', Courier, monospace;
}

.form { 
    padding: 0;
    margin-left: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.formEle {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.bottomBtn {
    font-size: 15px;
    text-align: center;
    width: 110px;
    margin: 0px 0px 0px 0px;
    font-family: 'Courier New', Courier, monospace;
}

#submit {
    background-color: lawngreen;
}

#cancel {
    background-color: crimson;
}

#signupKor {
    background-color: cornflowerblue;
}